<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Product Sans Medium:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Product Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="posts-overview">
      <img class="posts-overview-child" alt="" src="./public/group-64.svg" />

      <img class="posts-overview-item" alt="" src="./public/vector-40.svg" />

      <div class="posts-overview-inner"></div>
      <div class="ellipse-div"></div>
      <div class="posts-overview-child1"></div>
      <div class="posts-overview-child2"></div>
      <div class="rectangle-div"></div>
      <img class="vector-icon" alt="" src="./public/vector.svg" />

      <img class="vector-icon1" alt="" src="./public/vector.svg" />

      <img class="vector-icon2" alt="" src="./public/vector.svg" />

      <img class="vector-icon3" alt="" src="./public/vector.svg" />

      <img class="saly-12-icon" alt="" src="./public/saly12@2x.png" />

      <header class="navbar">
        <div class="navbar-child"></div>
        <img
          class="skillop-no-bg-1-icon"
          loading="lazy"
          alt=""
          src="skillop_no_bg 1.png"
        />

        <div class="skillop-wrapper">
          <h3 class="skillop">SKILLOP</h3>
        </div>
      </header>
      <section class="frame-section">
        <div class="frame-parent">
          <div class="frame-wrapper">
            <div class="frame-group">
              <div class="frame-container">
                <div class="octiconhome-16-parent">
                  <img
                    class="octiconhome-16"
                    loading="lazy"
                    alt=""
                    src="Frame 55262.png"
                  />

                  <div class="dashboard-wrapper">
                    <div class="dashboard">Dashboard</div>
                  </div>
                </div>
              </div>
              <div class="mdiusers-parent">
                <img
                  class="mdiusers-icon"
                  loading="lazy"
                  alt=""
                  src="Vector.png"
                />

                <div class="users-wrapper">
                  <div class="users">Users</div>
                </div>
              </div>
              <div class="mdihelp-outline-parent">
                <img
                  class="mdihelp-outline-icon"
                  loading="lazy"
                  alt=""
                  src="mdi_help-outline.png"
                />

                <div class="mentors-wrapper">
                  <div class="mentors">mentors</div>
                </div>
              </div>
              <div class="mdievent-parent">
                <img
                  class="mdievent-icon"
                  loading="lazy"
                  alt=""
                  src="mdi_event.png"
                />

                <div class="events-wrapper">
                  <div class="events">Events</div>
                </div>
              </div>
              <div class="gridiconsposts-parent">
                <img
                  class="gridiconsposts"
                  loading="lazy"
                  alt=""
                  src="gridicons_posts.png"
                />

                <div class="posts-wrapper">
                  <b class="posts">Posts</b>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-child"></div>
          <div class="frame-div">
            <div class="frame-parent1">
              <div class="frame-parent2">
                <div class="frame-wrapper1">
                  <div class="posts-overview-parent">
                    <b class="posts-overview1">Posts overview</b>
                    <div class="delete-profile-post-parent">
                      <b class="delete-profile-post">Delete Profile/ Post</b>
                      <form class="frame-form">
                        <div class="delete-profile-parent">
                          <div class="delete-profile">Delete Profile</div>
                          <div class="frame-parent3">
                            <div class="enter-username-wrapper">
                              <input
                                class="enter-username"
                                placeholder="Enter Username"
                                type="text"
                              />
                            </div>
                            <button class="delete-wrapper">
                              <div class="delete">Delete</div>
                            </button>
                          </div>
                        </div>
                        <div class="delete-post-parent">
                          <div class="delete-post">Delete Post</div>
                          <div class="frame-parent4">
                            <div class="enter-post-link-wrapper">
                              <input
                                class="enter-post-link"
                                placeholder="Enter Post Link"
                                type="text"
                              />
                            </div>
                            <button class="delete-container">
                              <div class="delete1">Delete</div>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <b class="top-posts">Top Posts</b>
                <div class="frame-wrapper2">
                  <div class="frame-parent5">
                    <div class="frame-parent6">
                      <div class="frame-parent7">
                        <img
                          class="frame-item"
                          loading="lazy"
                          alt=""
                          src="Frame 55250.png"
                        />

                        <div class="frame-wrapper3">
                          <div class="michel-smithwick-parent">
                            <div class="michel-smithwick">Michel Smithwick</div>
                            <div class="sdepaytm">SDE@paytm</div>
                          </div>
                        </div>
                      </div>
                      <div class="frame-wrapper4">
                        <div class="tablercheck-parent">
                          <img
                            class="tablercheck-icon"
                            loading="lazy"
                            alt=""
                            src="tabler_check.png"
                          />

                          <div class="following">FOLLOWING</div>
                        </div>
                      </div>
                    </div>
                    <div class="lorem-ipsum-dolor">
                      Lorem ipsum dolor sit amet consectetur. Egestas bibendum
                      vestibulum dolor facilisis odio augue pretium nam. Morbi
                      accumsan risus enim faucibus. Aliquet nisi sed in feugiat
                      nunc posuere id fringilla.
                    </div>
                    <img
                      class="frame-inner"
                      loading="lazy"
                      alt=""
                      src="Frame 55251.png"
                    />
                  </div>
                </div>
              </div>
              <div class="liked-posts">
                <div class="liked-by-devyansh-and-60-other-parent">
                  <div class="liked-by-devyansh">
                    Liked by Devyansh and 60 others
                  </div>
                  <div class="comments">2 comments</div>
                </div>
              </div>
              <div class="share-button">
                <div class="like-icon-parent">
                  <div class="like-icon"></div>
                  <div class="comment-icon-wrapper">
                    <div class="comment-icon">
                      <div class="iconamoonlike-parent">
                        <img
                          class="iconamoonlike"
                          alt=""
                          src="./public/iconamoonlike.svg"
                        />

                        <div class="post-share">
                          <div class="like">Like</div>
                        </div>
                      </div>
                      <div class="post-comments">
                        <img
                          class="iconamooncomment-dots"
                          alt=""
                          src="./public/iconamooncommentdots.svg"
                        />

                        <div class="post-likes">
                          <div class="comment">Comment</div>
                        </div>
                      </div>
                      <div class="share-icon">
                        <img
                          class="material-symbolsshare-outline-icon"
                          alt=""
                          src="./public/materialsymbolsshareoutline.svg"
                        />

                        <div class="share">Share</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="line-div"></div>
        </div>
      </section>
    </div>
  </body>
</html>
