.posts-overview-child {
    width: 531.7px;
    height: 464px;
    position: relative;
    display: none;
    max-width: 100%;
  }
  .posts-overview-item {
    width: 144.8px;
    height: 16.4px;
    position: relative;
    object-fit: contain;
    display: none;
  }
  .posts-overview-inner {
    width: 306px;
    height: 306px;
    background-color: var(--color-red);
  }
  .ellipse-div,
  .posts-overview-child1,
  .posts-overview-child2,
  .posts-overview-inner {
    position: relative;
    border-radius: 50%;
    display: none;
    opacity: 0.45;
  }
  .ellipse-div {
    width: 326px;
    height: 326px;
    background-color: var(--color-orange);
    max-width: 100%;
  }
  .posts-overview-child1,
  .posts-overview-child2 {
    width: 243px;
    height: 243px;
    background-color: var(--color-limegreen);
  }
  .posts-overview-child2 {
    width: 248px;
    height: 248px;
    background-color: var(--color-darkturquoise);
  }
  .rectangle-div {
    width: 486px;
    height: 678px;
    position: relative;
    border-radius: var(--br-11xl);
    background-color: var(--color-gray-100);
    backdrop-filter: blur(63.6px);
    display: none;
    max-width: 100%;
  }
  .vector-icon,
  .vector-icon1 {
    width: 153px;
    height: 124px;
    position: relative;
    display: none;
  }
  .vector-icon1 {
    width: 199.8px;
    height: 189.5px;
    object-fit: contain;
  }
  .vector-icon2,
  .vector-icon3 {
    width: 255px;
    height: 222px;
    position: relative;
    display: none;
  }
  .vector-icon3 {
    width: 305.5px;
    height: 305.5px;
    object-fit: contain;
  }
  .navbar-child,
  .saly-12-icon {
    position: relative;
    display: none;
    max-width: 100%;
  }
  .saly-12-icon {
    width: 632px;
    height: 694px;
    object-fit: cover;
  }
  .navbar-child {
    height: 75px;
    width: 1280px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray-400);
    box-sizing: border-box;
  }
  .skillop-no-bg-1-icon {
    height: 60px;
    width: 60px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .skillop {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.02em;
    line-height: 31px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 92px;
    white-space: nowrap;
    z-index: 1;
  }
  .navbar,
  .skillop-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 0 0;
  }
  .navbar {
    align-self: stretch;
    height: 75px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray-400);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-6xs) var(--padding-87xl) var(--padding-5xs);
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-4xl);
    color: var(--color-black);
    font-family: var(--font-product-sans-medium);
  }
  .octiconhome-16 {
    height: 28px;
    width: 28px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .dashboard {
    position: relative;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
    min-width: 81px;
  }
  .dashboard-wrapper,
  .frame-container,
  .octiconhome-16-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .dashboard-wrapper {
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
  }
  .frame-container,
  .octiconhome-16-parent {
    flex-direction: row;
  }
  .octiconhome-16-parent {
    align-self: stretch;
    gap: var(--gap-lgi-5);
  }
  .frame-container {
    flex: 1;
    padding: 0 0 0 var(--padding-11xs-5);
  }
  .mdiusers-icon {
    height: 31px;
    width: 31px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .users {
    position: relative;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
    min-width: 42px;
  }
  .mdiusers-parent,
  .users-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .users-wrapper {
    flex-direction: column;
    padding: var(--padding-6xs) 0 0;
  }
  .mdiusers-parent {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-lg);
  }
  .mdihelp-outline-icon {
    height: 31px;
    width: 31px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .mentors {
    position: relative;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
    min-width: 61px;
  }
  .mdihelp-outline-parent,
  .mentors-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .mentors-wrapper {
    flex-direction: column;
    padding: var(--padding-7xs) 0 0;
  }
  .mdihelp-outline-parent {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-lg);
  }
  .mdievent-icon {
    height: 31px;
    width: 31px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .events {
    position: relative;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
    min-width: 49px;
  }
  .events-wrapper,
  .mdievent-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .events-wrapper {
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
  }
  .mdievent-parent {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-lg);
  }
  .gridiconsposts {
    height: 31px;
    width: 31px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .posts {
    position: relative;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
    min-width: 43px;
  }
  .posts-wrapper {
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
  }
  .frame-group,
  .frame-wrapper,
  .gridiconsposts-parent,
  .posts-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .gridiconsposts-parent {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-lg);
  }
  .frame-group,
  .frame-wrapper {
    flex-direction: column;
  }
  .frame-group {
    flex: 1;
    gap: var(--gap-13xl);
  }
  .frame-wrapper {
    height: 320px;
    width: 199px;
    padding: 40px 0 0;
    box-sizing: border-box;
  }
  .frame-child {
    height: 2190px;
    width: 1px;
    position: relative;
    border-right: 1px solid var(--color-gray-400);
    box-sizing: border-box;
    z-index: 2;
  }
  .posts-overview1 {
    width: 144px;
  }
  .delete-profile,
  .delete-profile-post,
  .enter-username,
  .posts-overview1 {
    position: relative;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
  }
  .delete-profile-post {
    width: 178px;
  }
  .delete-profile,
  .enter-username {
    font-family: var(--font-product-sans-medium);
    text-align: left;
  }
  .delete-profile {
    font-size: var(--font-size-mini);
    color: var(--color-black);
    min-width: 90px;
  }
  .enter-username {
    width: 122px;
    border: 0;
    outline: 0;
    font-size: var(--font-size-mid);
    background-color: transparent;
    height: 18px;
    color: var(--color-gray-200);
    padding: 0;
  }
  .enter-username-wrapper {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-300);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-2xl);
    min-width: 122px;
    max-width: 100%;
  }
  .delete {
    position: relative;
    font-size: var(--font-size-mini-1);
    line-height: 15px;
    text-transform: capitalize;
    font-family: var(--font-product-sans-medium);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 41px;
  }
  .delete-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-base) var(--padding-6xl);
    background-color: var(--color-dodgerblue);
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .delete-container:hover,
  .delete-wrapper:hover {
    background-color: var(--color-cornflowerblue);
  }
  .delete-profile-parent,
  .frame-parent3 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent3 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: var(--gap-7xs);
  }
  .delete-profile-parent {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
  }
  .delete-post,
  .enter-post-link {
    font-family: var(--font-product-sans-medium);
    position: relative;
    line-height: 18px;
    text-transform: capitalize;
    text-align: left;
    display: inline-block;
  }
  .delete-post {
    font-size: var(--font-size-mini);
    color: var(--color-black);
    min-width: 77px;
  }
  .enter-post-link {
    width: 113px;
    border: 0;
    outline: 0;
    font-size: var(--font-size-mid);
    background-color: transparent;
    height: 18px;
    color: var(--color-gray-200);
    padding: 0;
  }
  .enter-post-link-wrapper {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-300);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-2xl);
    min-width: 113px;
    max-width: 100%;
  }
  .delete1 {
    position: relative;
    font-size: var(--font-size-mini-1);
    line-height: 15px;
    text-transform: capitalize;
    font-family: var(--font-product-sans-medium);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 41px;
  }
  .delete-container {
    cursor: pointer;
    border: 0;
    padding: var(--padding-base) var(--padding-6xl);
    background-color: var(--color-dodgerblue);
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .delete-post-parent,
  .frame-form,
  .frame-parent4 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent4 {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-7xs);
  }
  .delete-post-parent,
  .frame-form {
    flex-direction: column;
  }
  .delete-post-parent {
    gap: var(--gap-5xs);
  }
  .frame-form {
    margin: 0;
    gap: 19px;
  }
  .delete-profile-post-parent {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-mid);
  }
  .delete-profile-post-parent,
  .frame-wrapper1,
  .posts-overview-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .posts-overview-parent {
    flex: 1;
    flex-direction: column;
    gap: 29px;
  }
  .frame-wrapper1 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .top-posts {
    position: relative;
    line-height: 18px;
    text-transform: capitalize;
    display: inline-block;
    min-width: 88px;
  }
  .frame-item {
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 35px;
  }
  .michel-smithwick,
  .sdepaytm {
    position: relative;
    line-height: 21px;
    text-transform: capitalize;
    display: inline-block;
  }
  .michel-smithwick {
    align-self: stretch;
    min-width: 117px;
  }
  .sdepaytm {
    width: 56px;
    font-size: 10px;
    color: var(--color-dimgray);
    min-width: 56px;
    z-index: 1;
  }
  .michel-smithwick-parent {
    align-self: stretch;
    flex-direction: column;
  }
  .frame-parent7,
  .frame-wrapper3,
  .michel-smithwick-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper3 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
  }
  .frame-parent7 {
    height: 50px;
    width: 177px;
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .tablercheck-icon {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .following {
    flex: 1;
    position: relative;
    line-height: 21px;
    text-transform: capitalize;
    display: inline-block;
    min-width: 72px;
  }
  .tablercheck-parent {
    align-self: stretch;
    flex: 1;
    border-radius: 25px;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-11xs) var(--padding-7xs);
  }
  .frame-parent6,
  .frame-wrapper4,
  .tablercheck-parent {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper4 {
    height: 27px;
    width: 105px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
    font-size: 12px;
    color: #4075ff;
  }
  .frame-parent6 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-inner,
  .lorem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    flex-shrink: 0;
  }
  .lorem-ipsum-dolor {
    height: 72px;
    font-size: var(--font-size-smi);
    line-height: 20px;
    text-transform: capitalize;
    font-family: var(--font-product-sans);
    text-align: left;
    display: inline-block;
  }
  .frame-inner {
    height: 313px;
    border-radius: var(--br-3xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .frame-parent2,
  .frame-parent5,
  .frame-wrapper2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent5 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-6xs);
  }
  .frame-parent2,
  .frame-wrapper2 {
    align-self: stretch;
  }
  .frame-wrapper2 {
    flex-direction: row;
    padding: 0 var(--padding-8xs) 0 var(--padding-sm);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-mini);
    font-family: var(--font-product-sans-medium);
  }
  .frame-parent2 {
    flex-direction: column;
    gap: var(--gap-21xl-5);
    color: var(--color-black);
    font-family: var(--font-product-sans);
  }
  .comments,
  .liked-by-devyansh {
    height: 16px;
    width: 191px;
    position: relative;
    display: inline-block;
  }
  .comments {
    width: 72px;
  }
  .liked-by-devyansh-and-60-other-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .like-icon,
  .liked-posts {
    align-self: stretch;
    box-sizing: border-box;
  }
  .liked-posts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 15.30000000000291px 0 17px;
    max-width: 100%;
    font-size: var(--font-size-smi);
  }
  .like-icon {
    height: 1px;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .iconamoonlike {
    height: 27px;
    width: 27px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 27px;
  }
  .like {
    align-self: stretch;
    height: 21px;
    position: relative;
    display: inline-block;
  }
  .iconamoonlike-parent,
  .post-share {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .post-share {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
  }
  .iconamoonlike-parent {
    height: 27px;
    width: 63px;
    flex-direction: row;
    gap: 4px;
  }
  .iconamooncomment-dots {
    height: 23px;
    width: 23px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 23px;
  }
  .comment {
    align-self: stretch;
    height: 21px;
    position: relative;
    display: inline-block;
  }
  .post-comments,
  .post-likes {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .post-likes {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
  }
  .post-comments {
    height: 23px;
    width: 100px;
    flex-direction: row;
    gap: 1px;
  }
  .material-symbolsshare-outline-icon {
    height: 22px;
    width: 22px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 22px;
  }
  .share {
    height: 21px;
    flex: 1;
    position: relative;
    display: inline-block;
  }
  .share-icon {
    height: 22px;
    width: 76px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .comment-icon,
  .comment-icon-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .comment-icon {
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .comment-icon-wrapper {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 9px 0 var(--padding-3xs);
    box-sizing: border-box;
  }
  .like-icon-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5.5px;
    max-width: 100%;
  }
  .share-button {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 13.80000000000291px 0 var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-mid);
  }
  .frame-div,
  .frame-parent1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-parent1 {
    align-self: stretch;
    align-items: flex-end;
    gap: 8.75px;
    max-width: 100%;
    flex-shrink: 0;
  }
  .frame-div {
    height: 320px;
    flex: 1;
    align-items: flex-start;
    padding: 22px 5.19999999999709px 297px 0;
    box-sizing: border-box;
    max-width: calc(100% - 252px);
    font-size: var(--font-size-xl);
    color: var(--color-dimgray);
    font-family: var(--font-product-sans-medium);
  }
  .line-div {
    height: 2193px;
    width: 1px;
    position: relative;
    border-right: 1px solid var(--color-gray-400);
    box-sizing: border-box;
    z-index: 2;
  }
  .frame-parent {
    height: 757px;
    width: 757px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 437px;
    box-sizing: border-box;
    gap: var(--gap-mid);
    max-width: 100%;
  }
  .frame-parent,
  .frame-section,
  .posts-overview {
    display: flex;
    align-items: flex-start;
  }
  .frame-section {
    width: 995px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-mid);
    color: var(--color-black);
    font-family: var(--font-product-sans);
  }
  .posts-overview {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .frame-parent {
      padding-bottom: 284px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .frame-div {
      padding-top: var(--padding-xl);
      padding-bottom: 193px;
      box-sizing: border-box;
    }
    .frame-parent {
      padding-bottom: 185px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-child,
    .frame-wrapper {
      display: none;
    }
    .enter-username-wrapper {
      display: flex;
    }
    .frame-parent2 {
      gap: 20px 40.5px;
    }
    .frame-div {
      padding-bottom: 125px;
      box-sizing: border-box;
      max-width: 100%;
    }
    .line-div {
      display: none;
    }
    .frame-parent {
      padding-bottom: 120px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .navbar {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .delete-profile-post,
    .posts-overview1,
    .top-posts {
      font-size: var(--font-size-base);
      line-height: 14px;
    }
    .comment-icon,
    .frame-parent6,
    .liked-by-devyansh-and-60-other-parent {
      flex-wrap: wrap;
    }
    .frame-div,
    .frame-parent {
      height: auto;
    }
  }
  