<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./admin page 1 css 2.css" />
    <link rel="stylesheet" href="./admin page 1 css.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Product Sans Medium:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Product Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="events-overview">
      <img class="events-overview-child" alt="" src="./public/group-64.svg" />

      <img class="events-overview-item" alt="" src="./public/vector-40.svg" />

      <div class="events-overview-inner"></div>
      <div class="ellipse-div"></div>
      <div class="events-overview-child1"></div>
      <div class="events-overview-child2"></div>
      <div class="rectangle-div"></div>
      <img class="vector-icon" alt="" src="./public/vector.svg" />

      <img class="vector-icon1" alt="" src="./public/vector.svg" />

      <img class="vector-icon2" alt="" src="./public/vector.svg" />

      <img class="vector-icon3" alt="" src="./public/vector.svg" />

      <img class="saly-12-icon" alt="" src="./public/saly12@2x.png" />

      <header class="navbar">
        <div class="navbar-child"></div>
        <img
          class="skillop-no-bg-1-icon"
          loading="lazy"
          alt=""
          src="skillop_no_bg 1.png"
        />

        <div class="skillop-wrapper">
          <h3 class="skillop">SKILLOP</h3>
        </div>
      </header>
      <section class="frame-section">
        <div class="mentors-parent">
          <div class="mentors">
            <div class="dashboard">
              <div class="octiconhome-16-parent">
                <img
                  class="octiconhome-16"
                  loading="lazy"
                  alt=""
                  src="Frame 55262.png"
                />

                <div class="dashboard-wrapper">
                  <div class="dashboard1">Dashboard</div>
                </div>
              </div>
            </div>
            <div class="mdieven">
              <img
                class="mdiusers-icon"
                loading="lazy"
                alt=""
                src="Vector.png"
              />

              <div class="users">
                <div class="users1">Users</div>
              </div>
            </div>
            <div class="mdieven1">
              <img
                class="mdihelp-outline-icon"
                loading="lazy"
                alt=""
                src="mdi_help-outline.png"
              />

              <div class="mentors-wrapper">
                <div class="mentors1">mentors</div>
              </div>
            </div>
            <div class="mdieven2">
              <img
                class="mdievent-icon"
                loading="lazy"
                alt=""
                src="mdi_event.png"
              />

              <div class="events-wrapper">
                <b class="events">Events</b>
              </div>
            </div>
            <div class="mdieven3">
              <img
                class="gridiconsposts"
                loading="lazy"
                alt=""
                src="gridicons_posts.png"
              />

              <div class="posts-wrapper">
                <div class="posts">Posts</div>
              </div>
            </div>
          </div>
          <div class="frame-child"></div>
          <div class="frame-item"></div>
          <div class="view-all">
            <div class="events-overview-wrapper">
              <b class="events-overview1">Events overview</b>
            </div>
            <div class="i-e-e-e-d-s-a-hour-hackathon">
              <div class="th-december-p-m">
                <div class="create-event">
                  <b class="listed-events">Listed Events</b>
                  <div class="view-all-wrapper">
                    <b class="view-all-">View All -&gt;</b>
                  </div>
                </div>
              </div>
              <div class="upload">
                <div class="ddmmyyyy-wrapper">
                  <div class="ddmmyyyy">
                    <button class="bxcalendar">
                      <div class="bxcalendar-child"></div>
                      <img
                        class="image-1-icon"
                        alt=""
                        src="Frame 55250.png"
                      />
                    </button>
                    <div class="view-details-wrapper">
                      <div class="view-details">
                        <div class="delete">
                          <div class="ieee-dsa-24-hour">
                            IEEE DSA 24-Hour Hackathon
                          </div>
                          <div class="create-eventdescription">
                            <div class="th-december-12pm">
                              5th December, 12PM
                            </div>
                          </div>
                        </div>
                        <div class="view-allevents-parent">
                          <button class="view-allevents">
                            <div class="delete1">
                              <div class="view-details1">View Details</div>
                            </div>
                          </button>
                          <button class="createeventendtime">
                            <div class="delete-wrapper">
                              <div class="delete2">Delete</div>
                            </div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="upload-inner">
                  <div class="frame-parent">
                    <button class="ellipse-parent">
                      <div class="frame-inner"></div>
                      <img
                        class="image-1-icon1"
                        alt=""
                        src="Frame 55250.png"
                      />
                    </button>
                    <div class="frame-wrapper">
                      <div class="frame-group">
                        <div class="ieee-dsa-24-hour-hackathon-parent">
                          <div class="ieee-dsa-24-hour1">
                            IEEE DSA 24-Hour Hackathon
                          </div>
                          <div class="th-december-12pm-wrapper">
                            <div class="th-december-12pm1">
                              5th December, 12PM
                            </div>
                          </div>
                        </div>
                        <div class="frame-container">
                          <button class="frame-button">
                            <div class="view-details-container">
                              <div class="view-details2">View Details</div>
                            </div>
                          </button>
                          <button class="frame-wrapper1">
                            <div class="delete-container">
                              <div class="delete3">Delete</div>
                            </div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="upload-child">
                  <div class="frame-div">
                    <button class="ellipse-group">
                      <div class="frame-child1"></div>
                      <img
                        class="image-1-icon2"
                        alt=""
                        src="Frame 55250.png"
                      />
                    </button>
                    <div class="frame-wrapper2">
                      <div class="frame-parent1">
                        <div class="ieee-dsa-24-hour-hackathon-group">
                          <div class="ieee-dsa-24-hour2">
                            IEEE DSA 24-Hour Hackathon
                          </div>
                          <div class="th-december-12pm-container">
                            <div class="th-december-12pm2">
                              5th December, 12PM
                            </div>
                          </div>
                        </div>
                        <div class="frame-parent2">
                          <button class="frame-wrapper3">
                            <div class="view-details-frame">
                              <div class="view-details3">View Details</div>
                            </div>
                          </button>
                          <button class="frame-wrapper4">
                            <div class="delete-frame">
                              <div class="delete4">Delete</div>
                            </div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="create-event-wrapper">
              <div class="create-event1">
                <div class="eventtitle">
                  <b class="create-event2">Create Event</b>
                </div>
                <div class="materialsymbolsaddcirclefilled">
                  <div class="event-title-wrapper">
                    <input
                      class="event-title"
                      placeholder="Event title"
                      type="text"
                    />
                  </div>
                  <div class="event-description-wrapper">
                    <input
                      class="event-description"
                      placeholder="Event Description"
                      type="text"
                    />
                  </div>
                  <div class="event-meeting-link-wrapper">
                    <input
                      class="event-meeting-link"
                      placeholder="Event Meeting Link"
                      type="text"
                    />
                  </div>
                </div>
                <div class="create-event-inner">
                  <div class="create-event-button-parent">
                    <div class="create-event-button">
                      <div class="upload-cover-image">upload Cover Image</div>
                    </div>
                    <button class="material-symbol-upload-icon">
                      <div class="material-symbol-upload-icon-child"></div>
                      <img
                        class="material-symbolsupload-icon"
                        alt=""
                        src="material-symbols_upload.png"
                      />

                      <div class="upload-wrapper">
                        <div class="upload1">upload</div>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="create-event-button1">
                  <div class="frame-parent3">
                    <div class="frame-wrapper5">
                      <div class="frame-parent4">
                        <div class="frame-parent5">
                          <div class="start-time-wrapper">
                            <div class="start-time">Start Time :</div>
                          </div>
                          <div class="dd-mm-yyyy-wrapper">
                            <div class="dd-mm-yyyy">dd-mm-yyyy</div>
                          </div>
                          <img
                            class="bxcalendar-icon"
                            alt=""
                            src="bx_calendar.png"
                          />
                        </div>
                        <div class="frame-parent6">
                          <div class="end-time-wrapper">
                            <div class="end-time">End Time :</div>
                          </div>
                          <div class="frame-parent7">
                            <div class="dd-mm-yyyy-container">
                              <div class="dd-mm-yyyy1">dd-mm-yyyy</div>
                            </div>
                            <img
                              class="bxcalendar-icon1"
                              alt=""
                              src="bx_calendar.png"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="delete-button">
                      <div class="create-event3">Create Event</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
