<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./mentors-applications.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Product Sans Medium:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Product Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="mentors-applications">
      <img
        class="mentors-applications-child"
        alt=""
        src="./public/group-64.svg"
      />

      <img
        class="mentors-applications-item"
        alt=""
        src="./public/vector-40.svg"
      />

      <div class="mentors-applications-inner"></div>
      <div class="mentors-applications-child1"></div>
      <div class="mentors-applications-child2"></div>
      <div class="mentors-applications-child3"></div>
      <div class="mentors-applications-child4"></div>
      <img class="vector-icon8" alt="" src="./public/vector.svg" />

      <img class="vector-icon9" alt="" src="./public/vector.svg" />

      <img class="vector-icon10" alt="" src="./public/vector.svg" />

      <img class="vector-icon11" alt="" src="./public/vector.svg" />

      <img class="saly-12-icon2" alt="" src="./public/saly12@2x.png" />

      <header class="navbar2">
        <div class="navbar-inner"></div>
        <img
          class="skillop-no-bg-1-icon2"
          loading="lazy"
          alt=""
          src="skillop_no_bg 1.png"
        />

        <div class="skillop-frame">
          <h2 class="skillop2">SKILLOP</h2>
        </div>
      </header>
      <main class="frame-main">
        <section class="frame-parent19">
          <div class="frame-parent20">
            <div class="frame-wrapper11">
              <div class="frame-parent21">
                <div class="frame-wrapper12">
                  <div class="octiconhome-16-container">
                    <img
                      class="octiconhome-162"
                      loading="lazy"
                      alt=""
                      src="Frame 55262.png"
                    />

                    <div class="dashboard-frame">
                      <div class="dashboard3">Dashboard</div>
                    </div>
                  </div>
                </div>
                <div class="mdiusers-group">
                  <img
                    class="mdiusers-icon2"
                    loading="lazy"
                    alt=""
                    src="Vector.png"
                  />

                  <div class="treelet">
                    <div class="users3">Users</div>
                  </div>
                </div>
                <div class="mdihelp-outline-group">
                  <img
                    class="mdihelp-outline-icon2"
                    loading="lazy"
                    alt=""
                    src="mdi_help-outline.png"
                  />

                  <div class="mentors-frame">
                    <b class="mentors3">mentors</b>
                  </div>
                </div>
                <div class="mdievent-group">
                  <img
                    class="mdievent-icon2"
                    loading="lazy"
                    alt=""
                    src="mdi_event.png"
                  />

                  <div class="events-frame">
                    <div class="events2">Events</div>
                  </div>
                </div>
                <div class="gridiconsposts-group">
                  <img
                    class="gridiconsposts2"
                    loading="lazy"
                    alt=""
                    src="gridicons_posts.png"
                  />

                  <div class="posts-frame">
                    <div class="posts2">Posts</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-child5"></div>
          </div>
          <div class="frame-wrapper13">
            <div class="view-all-button-parent">
              <div class="view-all-button">
                <div class="mentors-overview-parent">
                  <h3 class="mentors-overview">mentors Overview</h3>
                  <div class="frame-wrapper14">
                    <div class="rectangle-parent">
                      <div class="frame-child6"></div>
                      <div class="total-mentors-parent">
                        <div class="total-mentors">Total mentors</div>
                        <div class="regression-analyzer-visualizer">
                          <div class="graph-visualizer">10</div>
                          <div class="wrapper">
                            <div class="div">+1</div>
                          </div>
                        </div>
                      </div>
                      <img
                        class="group-icon"
                        loading="lazy"
                        alt=""
                        src="Group 105.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-parent22">
                <div class="frame-wrapper15">
                  <div class="top-earning-mentors-parent">
                    <h3 class="top-earning-mentors">Top Earning Mentors</h3>
                    <b class="view-all-1">View All -&gt;</b>
                  </div>
                </div>
                <div class="application-status-label-parent">
                  <div class="application-status-label">
                    <div class="prediction-calculator-visualiz">
                      <div class="classifier-visualizer-comparer">
                        <div class="regression-analyzer-comparer">#1</div>
                        <div class="pattern-matcher-visualizer">
                          <img
                            class="graph-builder-visualizer"
                            loading="lazy"
                            alt=""
                            src="Frame 55250 (1).png"
                          />

                          <div class="network-analyzer-visualizer">
                            <div class="michel-smithwick1">
                              Michel Smithwick
                            </div>
                            <div class="sde-paytm">SDE @ Paytm</div>
                          </div>
                        </div>
                      </div>
                      <div class="key-value-pair-visualizer">
                        <div class="sequence-processor-visualizer">
                          <div class="data-aggregator">
                            <div class="div1">₹499</div>
                            <div class="meet">1 Meet</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-child7"></div>
                  <div class="application-status-label1">
                    <div class="leaflet">
                      <div class="branching-pattern">
                        <div class="tree-structure">#2</div>
                        <div class="nested-tree">
                          <img
                            class="bifurcating-tree-icon"
                            alt=""
                            src="Frame 55250 (1).png"
                          />

                          <div class="merging-tree">
                            <div class="michel-smithwick2">
                              Michel Smithwick
                            </div>
                            <div class="sde-paytm1">SDE @ Paytm</div>
                          </div>
                        </div>
                      </div>
                      <div class="nested-forest-fragment">
                        <div class="treelet-collection">
                          <div class="subforest">
                            <div class="div2">₹499</div>
                            <div class="meet1">1 Meet</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-child8"></div>
                  <div class="application-status-label2">
                    <div class="leaflet1">
                      <div class="parent">
                        <div class="div3">#3</div>
                        <div class="frame-parent23">
                          <img
                            class="frame-icon"
                            alt=""
                            src="Frame 55250 (1).png"
                          />

                          <div class="michel-smithwick-group">
                            <div class="michel-smithwick3">
                              Michel Smithwick
                            </div>
                            <div class="sde-paytm2">SDE @ Paytm</div>
                          </div>
                        </div>
                      </div>
                      <div class="leaflet-inner">
                        <div class="frame-wrapper16">
                          <div class="group">
                            <div class="div4">₹499</div>
                            <div class="meet2">1 Meet</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-child9"></div>
                </div>
              </div>
              <div class="michel-card">
                <div class="view-all-link">
                  <div class="all-mentors-parent">
                    <h3 class="all-mentors">All Mentors</h3>
                    <b class="view-all-2">View All -&gt;</b>
                  </div>
                </div>
                <div class="input-combiner">
                  <div class="weighted-sum">
                    <div class="normalizer">
                      <img
                        class="threshold-checker-icon"
                        alt=""
                        src="Frame 55250 (1).png"
                      />

                      <div class="output-collector">
                        <div class="michel-smithwick4">Michel Smithwick</div>
                        <div class="sde-paytm3">SDE @ Paytm</div>
                      </div>
                    </div>
                    <button class="boolean-logic">
                      <div class="view-profile-wrapper">
                        <div class="view-profile">View profile</div>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="input-combiner1"></div>
                <div class="input-combiner2">
                  <div class="frame-parent24">
                    <div class="frame-parent25">
                      <img
                        class="frame-child10"
                        alt=""
                        src="Frame 55250.png"
                      />

                      <div class="sena-foore-parent">
                        <div class="sena-foore">Sena Foore</div>
                        <div class="sde-ii-paytm">SDE-II @ Paytm</div>
                      </div>
                    </div>
                    <button class="frame-wrapper17">
                      <div class="view-profile-container">
                        <div class="view-profile1">View profile</div>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="input-combiner3"></div>
                <div class="input-combiner4">
                  <div class="frame-parent26">
                    <div class="frame-parent27">
                      <img
                        class="frame-child11"
                        alt=""
                        src="./public/frame-55250-5.svg"
                      />

                      <div class="harley-bemben-parent">
                        <div class="harley-bemben">Harley Bemben</div>
                        <div class="sde-paytm4">SDE @ Paytm</div>
                      </div>
                    </div>
                    <div class="frame-wrapper18">
                      <div class="view-profile-frame">
                        <div class="view-profile2">View profile</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-combiner5"></div>
                <div class="input-combiner6">
                  <div class="frame-parent28">
                    <div class="frame-parent29">
                      <img
                        class="frame-child12"
                        alt=""
                        src="./public/frame-55250-5.svg"
                      />

                      <div class="harley-bemben-group">
                        <div class="harley-bemben1">Harley Bemben</div>
                        <div class="sde-paytm5">SDE @ Paytm</div>
                      </div>
                    </div>
                    <div class="frame-wrapper19">
                      <div class="view-profile-wrapper1">
                        <div class="view-profile3">View profile</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-combiner7"></div>
                <div class="input-combiner8">
                  <div class="frame-parent30">
                    <div class="frame-parent31">
                      <img
                        class="frame-child13"
                        alt=""
                        src="./public/frame-55250-5.svg"
                      />

                      <div class="harley-bemben-container">
                        <div class="harley-bemben2">Harley Bemben</div>
                        <div class="sde-paytm6">SDE @ Paytm</div>
                      </div>
                    </div>
                    <div class="frame-wrapper20">
                      <div class="view-profile-wrapper2">
                        <div class="view-profile4">View profile</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-combiner9"></div>
                <div class="input-combiner10">
                  <div class="frame-parent32">
                    <div class="frame-parent33">
                      <img
                        class="frame-child14"
                        alt=""
                        src="./public/frame-55250-5.svg"
                      />

                      <div class="harley-bemben-parent1">
                        <div class="harley-bemben3">Harley Bemben</div>
                        <div class="sde-paytm7">SDE @ Paytm</div>
                      </div>
                    </div>
                    <div class="frame-wrapper21">
                      <div class="view-profile-wrapper3">
                        <div class="view-profile5">View profile</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-combiner11"></div>
                <div class="input-combiner12">
                  <div class="frame-parent34">
                    <div class="frame-parent35">
                      <img
                        class="frame-child15"
                        alt=""
                        src="./public/frame-55250-5.svg"
                      />

                      <div class="harley-bemben-parent2">
                        <div class="harley-bemben4">Harley Bemben</div>
                        <div class="sde-paytm8">SDE @ Paytm</div>
                      </div>
                    </div>
                    <div class="frame-wrapper22">
                      <div class="view-profile-wrapper4">
                        <div class="view-profile6">View profile</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-combiner13"></div>
                <div class="input-combiner14">
                  <div class="frame-parent36">
                    <div class="frame-parent37">
                      <img
                        class="frame-child16"
                        alt=""
                        src="./public/frame-55250-5.svg"
                      />

                      <div class="harley-bemben-parent3">
                        <div class="harley-bemben5">Harley Bemben</div>
                        <div class="sde-paytm9">SDE @ Paytm</div>
                      </div>
                    </div>
                    <div class="frame-wrapper23">
                      <div class="view-profile-wrapper5">
                        <div class="view-profile7">View profile</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-combiner15"></div>
                <div class="input-combiner16">
                  <div class="frame-parent38">
                    <div class="frame-parent39">
                      <img
                        class="frame-child17"
                        alt=""
                        src="./public/frame-55250-5.svg"
                      />

                      <div class="harley-bemben-parent4">
                        <div class="harley-bemben6">Harley Bemben</div>
                        <div class="sde-paytm10">SDE @ Paytm</div>
                      </div>
                    </div>
                    <div class="frame-wrapper24">
                      <div class="view-profile-wrapper6">
                        <div class="view-profile8">View profile</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-combiner17"></div>
                <div class="input-combiner18">
                  <div class="frame-parent40">
                    <div class="frame-parent41">
                      <img
                        class="frame-child18"
                        alt=""
                        src="./public/frame-55250-5.svg"
                      />

                      <div class="harley-bemben-parent5">
                        <div class="harley-bemben7">Harley Bemben</div>
                        <div class="sde-paytm11">SDE @ Paytm</div>
                      </div>
                    </div>
                    <div class="frame-wrapper25">
                      <div class="view-profile-wrapper7">
                        <div class="view-profile9">View profile</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-combiner19"></div>
              </div>
            </div>
          </div>
          <div class="line-parent">
            <div class="frame-child19"></div>
            <div class="frame-wrapper26">
              <div class="rectangle-group">
                <div class="frame-child20"></div>
                <div class="mentor-applications">Mentor Applications</div>
                <div class="mingcutedown-line-wrapper">
                  <img
                    class="mingcutedown-line-icon"
                    alt=""
                    src="mingcute_down-line.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div class="mentors-applications-child5"></div>
      <div class="rectangle-container">
        <div class="frame-child21"></div>
        <div class="frame-parent42">
          <div class="frame-parent43">
            <div class="frame-parent44">
              <img
                class="frame-child22"
                alt=""
                src="./public/frame-552501.svg"
              />

              <div class="michel-smithwick-container">
                <div class="michel-smithwick5">Michel Smithwick</div>
                <div class="sde-paytm12">SDE @ Paytm</div>
              </div>
            </div>
            <div class="frame-wrapper27">
              <div class="view-profile-wrapper8">
                <div class="view-profile10">View profile</div>
              </div>
            </div>
            <div class="charmcross-parent">
              <img
                class="charmcross-icon"
                alt=""
                src="./public/charmcross.svg"
              />

              <img class="mditick-icon" alt="" src="./public/mditick.svg" />
            </div>
          </div>
          <div class="frame-child23"></div>
          <div class="frame-parent45">
            <div class="frame-parent46">
              <img
                class="frame-child24"
                alt=""
                src="./public/frame-55250-4.svg"
              />

              <div class="sena-foore-group">
                <div class="sena-foore1">Sena Foore</div>
                <div class="sde-ii-paytm1">SDE-II @ Paytm</div>
              </div>
            </div>
            <div class="frame-wrapper28">
              <div class="view-profile-wrapper9">
                <div class="view-profile11">View profile</div>
              </div>
            </div>
            <div class="charmcross-group">
              <img
                class="charmcross-icon1"
                alt=""
                src="./public/charmcross.svg"
              />

              <img class="mditick-icon1" alt="" src="./public/mditick.svg" />
            </div>
          </div>
          <div class="frame-child25"></div>
          <div class="frame-parent47">
            <div class="frame-parent48">
              <img
                class="frame-child26"
                alt=""
                src="./public/frame-55250-5.svg"
              />

              <div class="harley-bemben-parent6">
                <div class="harley-bemben8">Harley Bemben</div>
                <div class="sde-paytm13">SDE @ Paytm</div>
              </div>
            </div>
            <div class="frame-wrapper29">
              <div class="view-profile-wrapper10">
                <div class="view-profile12">View profile</div>
              </div>
            </div>
            <div class="charmcross-container">
              <img
                class="charmcross-icon2"
                alt=""
                src="./public/charmcross.svg"
              />

              <img class="mditick-icon2" alt="" src="./public/mditick.svg" />
            </div>
          </div>
          <div class="frame-child27"></div>
        </div>
        <img class="vector-icon12" alt="" src="./public/vector.svg" />

        <div class="mentor-applications1">Mentor Applications</div>
      </div>
    </div>
  </body>
</html>
